---
layout: default
title: Projects & Open-Source
tags: projects
permalink: /projects/
js:
- js/gh_projects.js
- js/util_buttons.js
- js/quick_facts.js
---

{% if site.show_about_me_quick_facts %}
{% comment %} This must be put first after the Jeykll metadata header! {% endcomment %}
<p style="padding-bottom: 2%;">
@@ moderator of [r/learnmachinelearning](https://www.reddit.com/r/learnmachinelearning/)
@@ author of [insults](https://github.com/thundergolfer/Insults)
@@ 123 Github Stars
</p>
{% endif %}

<div id="display-projects"></div>

<div class="circle-button">
      <div class="top-circle" data-sr-id="80" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
        <img src="{{ site.url }}/images/logos/top.png">
  </div>
</div>

{% for js in page.js %}
  <script type="text/javascript">
  {% include {{ js }} %}
  </script>
{% endfor %}

<script src="https://cdn.jsdelivr.net/emojione/3.0.3/lib/js/emojione.min.js"></script>
<script type="text/javascript">
  $(function() {
    $("#display-projects").getRepos("thundergolfer"); //Add your github username.
  });
</script>

<style>
#quick_fact {
  border: 2px solid black;
  font-size: 0.8em;
  padding: 1%;
  margin-right: 2%;
}
</style>
