.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  // z-index: -1; /* critical to ensure the nav menu sits on top when active */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  background-color: $footer-bg-color;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  text-align: center;
}

@media screen and (min-width: 770px) {
.clients .top-circle {
    margin-bottom: 100px;
}
}

.circle-button .top-circle {
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}

.circle-button .top-circle, .down-circle, .down-circle-click, .home .contact-btn, nav .nav-jr {
    cursor: pointer;
}

.circle-button:last-child {
    margin-right: 0;
}

.circle-button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

.circle-button .top-circle img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 28px;
}
