.site-header {
  background-color: $header-bg;
  z-index: 9999;
  height: 100px;
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: $header-fg;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}

.menu-btn.show, [data-id=home] .menu-btn, .home-btn.show, .home-btn {
    pointer-events: auto; /* not using this block at the moment */
    opacity: 1;
}
.header-title span:before, .menu-btn, .home-btn, .menu-text, .home-text, [data-id=home] .menu-btn {
    position: absolute;
}
.menu-btn, .home-btn {
    cursor: pointer;
    height: 100px;
    width: 106px;
    z-index: 10000;
    pointer-events: auto;
    top: 0;
    opacity: 1;
}

.home-btn {
    right: 0;
}

.home-btn > a {
    position: relative;
    z-index: 10000;
}

.diagonal-line {

}

.menu-line:nth-of-type(1), .menu-line:nth-of-type(2),
.static-menu-line:nth-of-type(1), .static-menu-line:nth-of-type(2) {
    width: 2px;
    height: 85px;
    top: 15%;
    left: 50%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    background: $header-fg;
}

.static-menu-line:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

[data-id=home] .menu-text {
    visibility: visible;
}

.menu-text, .home-text {
    top: 73%;
    font-size: .75em;
    font-weight: Normal;
    color: $header-fg;
    pointer-events: none;
    visibility: visible; /* this was "hidden" */
}

.home-text { right: 22px; }
.menu-text { left: 22px; }

.menu-text {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.menu-btn .menu-line:nth-of-type(2) {
  transform: matrix(-0.7071, 0.70711, -0.70711, -0.7071, 0, 0);
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

#main-menu {
  background-color: $header-bg;
}
