---
layout: default
---
  <style>
  @media screen and (min-width: 770px) {
  .clients .top-circle {
      margin-bottom: 100px;
  }
  }

  @media screen and (max-width: 1000px) {
  .print-button {
    display: none;
  }
  }

  .circle-button .top-circle, .print-button .top-circle  {
      width: 100px;
      height: 100px;
      background: #000;
      border-radius: 50px;
      margin: 0 auto;
      display: block;
  }

  .circle-button .top-circle, .down-circle, .down-circle-click, .home .contact-btn, nav .nav-jr {
      cursor: pointer;
  }

  .circle-button:last-child {
      margin-right: 0;
  }

  .circle-button {
      cursor: pointer;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
  }

  .circle-button .top-circle img, .print-button .top-circle img {
      width: 80%;
      display: block;
      margin: 0 auto;
      padding-top: 28px;
  }
  </style>

  <style>
  .circle-button .top-circle {
      margin-top: 5%;
  }
  </style>
  <div id="main">
    <div id="resume">
    {{ content }}
    </div>
  </div>

  <div class="circle-button">
        <div class="top-circle" data-sr-id="80" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
          <img src="{{ site.url }}/images/logos/top.png">
    </div>
  </div>

  <div class="print-button">
        <div class="top-circle" data-sr-id="80" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
          <img src="{{ site.url }}/images/logos/pdf.png">
    </div>
  </div>

  <style>
  .print-button {
      cursor: pointer;
      position: fixed;
      bottom: 216px;
      right: 40px;
  }

  .print-button .top-circle {
  }

  .print-button .top-circle img {
  }
  </style>

  <div class="footer"></div>

  <script type="text/javascript">
    {% include js/util_buttons.js %}
  </script>
